.heading {
    margin-top: 1%;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.heading h1 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #fa7a3d;
}

.heading p {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: white;
}

.heading img {
    border-radius: 50%;
    width: 25%;
}

.body {
    width: 60%;
    font-size: 18px;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.project {
    width: 100%;
    display: inline-block;
    margin: 2%;
}

.project a {
    color: #fa7a3d;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 35px;
    text-decoration: none;
    display: block;
    margin-bottom: 1%;
}

.project ul {
    font-family: 'Ubuntu Mono', monospace;
    list-style-type: square;
}

.project img {
    border-radius: 50%;
    width: 10%;
    margin-bottom: 1%;
}

.project-info {
    text-align: left;
    float: left;
    width: 30%;
}

.project-description {
    float: right;
    width: 70%;
}

.project-description {
    text-align: left;
}

.footer {
    text-align: center;
    margin: 1%;
}

.footer a {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    color: #fa7a3d;
    text-align: center;
}

body {
    background-color: #282828;
}

html, body {
    margin:0;
    padding:0;
}

.blocks {
    padding: 2%;
    background-color: rgb(48, 48, 48);
}

.block {
    width: 24%;
    align-content: center;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 20px;
}

.block img {
    border-radius: 50%;
    width: 22%;
}

p {
    font-family: 'Ubuntu Mono', monospace;
}

::-moz-selection {
    color: white;
    background: #ffbe5c;
}

::selection {
    color: white;
    background: #ffbe5c;
}