.header {
    margin-top: 1%;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header h1 {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #fa7a3d;
}

.header p {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: white;
}

.header img {
    border-radius: 50%;
    width: 25%;
}

.body {
    width: 60%;
    font-size: 18px;
    line-height: 22px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.project {
    width: 100%;
    display: inline-block;
    margin: 2%;
    font-size: 20px;
    line-height: 22px;
}

.project a {
    color: #fa7a3d;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 35px;
    text-decoration: none;
    display: block;
    margin-bottom: 1%;
}

.project ul {
    font-family: 'Ubuntu Mono', monospace;
    list-style-type: square;
}

.project img {
    border-radius: 50%;
    width: 12%;
    margin-bottom: 2%;
}

.project-info {
    text-align: left;
    float: left;
    width: 30%;
}

.project-description {
    float: right;
    width: 70%;
}

.project-description {
    text-align: left;
}

.footer {
    text-align: center;
    margin: 1%;
}

.footer a {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    color: #fa7a3d;
    text-align: center;
}

body {
    background-color: #282828;
}

html, body {
    margin:0;
    padding:0;
}

.blocks {
    animation-name: opacitytra;
    animation-fill-mode: both;
    animation-duration: 3s;
    animation-delay: 2s;
    opacity: 0;
    padding: 2%;
    background-color: rgb(48, 48, 48);
}

.block {
    width: 24%;
    align-content: center;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 20px;
}

.block img {
    border-radius: 50%;
    width: 22%;
}

p {
    font-family: 'Ubuntu Mono', monospace;
}

hr {
    border: 0;
    height: 1px;
    background-color: white;
}

@keyframes opacitytra {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#profile-picture {
    opacity: 0;
    animation-name: opacitytra;
    animation-fill-mode: both;
    animation-duration: 3s;
}

#name {
    opacity: 0;
    animation-name: opacitytra;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

#short-about-me {
    opacity: 0;
    animation-name: opacitytra;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.fa {
    padding: 20px;
    width: 20px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  

.fa-github {
    background: black;
    color: white;
}

.fa-youtube {
    background: red;
    color: white;
}

.fa-reddit {
    background: white;
    color: red;
}

#first {
    opacity: 0;
    animation-name: opacitytra;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

#second {
    opacity: 0;
    animation-name: opacitytra;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1.6s;
}

#third {
    opacity: 0;
    animation-name: opacitytra;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1.7s;
}

#fourth {
    opacity: 0;
    animation-name: opacitytra;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1.8s;
}

::-moz-selection {
    color: white;
    background: #ffbe5c;
}

::selection {
    color: white;
    background: #ffbe5c;
}